.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.default {
  max-width: var(--container-max-width);
}

.narrow {
  max-width: 800px;
}

.wide {
  max-width: 1440px;
}

.full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
